# Default ignored files
/../../Indoor /.idea/shelf/
/../../Indoor /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Indoor /.idea/httpRequests/
# Datasource local storage ignored files
/../../Indoor /.idea/dataSources/
/../../Indoor /.idea/dataSources.local.xml
